body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #4CAF50;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.container {
    max-width: 1200px; /* Aumenta el ancho del contenedor si es necesario */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-form input,
.search-form select,
.search-form button {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

.search-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.search-form input:focus {
    border-color: #4CAF50;
    outline: none;
}

.search-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}

#alojamientos-container {
    display: flex;
    flex-wrap: wrap; /* Permite que se ajusten en varias líneas si es necesario */
    justify-content: space-between; /* Espacio entre los alojamientos */
}

.hotel-card {
    width: calc(33.33% - 10px); /* Tres tarjetas por fila con espacio entre ellas */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio en la parte inferior */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding y el border en el width */
}

.hotel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}
