body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #4CAF50;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.container {
    max-width: 1200px; /* Aumenta el ancho del contenedor si es necesario */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: calc(100% - 22px); /* Ajuste para incluir padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.servicios label {
    margin-right: 20px; /* Espacio entre los servicios */
}

button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}
